@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&display=swap");
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pretendard-Regular", "Noto Sans KR", sans-serif;
}

html {
  max-width: 390px;
  height: 100%;
}

body {
  height: fit-content;
  min-width: 360px;
  max-width: 390px;
  background-color: #fff;
  border: 1px solid red;
  font-size: 14px;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: initial;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  font-weight: 700;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

.hdrWrap {
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #28502E;
}
.hdrWrap header {
  width: 100%;
  height: 60px;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
}
.hdrWrap header button {
  width: 33.33%;
  text-align-last: left;
}
.hdrWrap header button i {
  cursor: pointer;
  font-size: 20px;
}
.hdrWrap header h1 {
  width: 33.33%;
  line-height: 60px;
  text-align: center;
}
.hdrWrap header h1 img {
  height: 40px;
  vertical-align: -5%;
  cursor: pointer;
}
.hdrWrap header nav {
  width: 33.33%;
  text-align: right;
}
.hdrWrap header nav i {
  margin-left: 15px;
  font-size: 20px;
  line-height: 60px;
  cursor: pointer;
}

.sideMenu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 350px;
  height: 100%;
  padding: 0;
  background-color: #28502E;
  box-shadow: 61px 0 0 rgba(0, 0, 0, 0.5);
}
.sideMenu header {
  width: 100%;
  height: auto;
  padding: 0 10px;
}
.sideMenu header h2.logo {
  line-height: 40px;
  margin-top: 10px;
}
.sideMenu header h2.logo img {
  height: 40px;
}
.sideMenu header h2.logo::after {
  width: 100%;
  height: 2px;
  background-color: #000;
  content: "";
  display: block;
  margin: 0 auto;
}
.sideMenu header .bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.sideMenu header .bottom h3 {
  padding-left: 5px;
  line-height: 40px;
}
.sideMenu header .bottom nav {
  line-height: 40px;
  font-size: 16px;
}
.sideMenu header .bottom nav a {
  text-decoration: underline;
  margin-left: 3px;
}
.sideMenu section {
  width: 100%;
  height: auto;
  padding: 0 15px;
}
.sideMenu section ul li.sideMenu_item {
  font-size: 20px;
  line-height: 20px;
  margin-top: 30px;
  margin-left: 0;
  font-weight: bold;
}
.sideMenu section ul li {
  margin-top: 10px;
  margin-left: 20px;
  font-size: 16px;
}

.pagination_main {
  margin-top: 20px;
}
.pagination_main section {
  width: 100%;
  height: auto;
  padding: 0 10px;
}
.pagination_main section ul {
  display: flex;
  justify-content: space-between;
}
.pagination_main section ul li {
  text-align: center;
  padding: 0 10px;
}
.pagination_main section ul li a i {
  font-size: 30px;
}
.pagination_main section ul li a p {
  margin-top: 10px;
}

.ftrWrap {
  width: 100%;
  background: #2f2f2f;
  color: #fff;
  padding-top: 80px;
  padding-bottom: 40px;
}
.ftrWrap footer {
  width: 100%;
  height: 100%;
  padding: 0 10px;
}
.ftrWrap footer .ftrTop {
  width: 100%;
  padding: 0 10px;
  display: flex;
}
.ftrWrap footer .ftrTop ul.sub:nth-of-type(2n) {
  margin-top: 30px;
}
.ftrWrap footer .ftrTop ul.sub li {
  margin-top: 15px;
}
.ftrWrap footer .ftrTop .ftrLeft {
  flex: 1;
}
.ftrWrap footer .ftrTop .ftrRight {
  flex: 1;
}
.ftrWrap footer .ftrTop .ftrRight ul.sub li a i {
  margin-right: 10px;
}
.ftrWrap footer .ftrBottom {
  width: 100%;
  padding: 0 10px;
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
}
.ftrWrap footer .ftrBottom ul.sub {
  width: 100%;
}
.ftrWrap footer .ftrBottom ul.sub li {
  margin-top: 15px;
}
.ftrWrap footer .ftrBottom .ftrDropdown {
  flex: 1;
  padding: 0 10px;
  margin-top: 40px;
  position: relative;
}
.ftrWrap footer .ftrBottom .ftrDropdown button {
  width: 100%;
  border: 1px solid #eaeaea;
  border-radius: 3px;
  line-height: 20px;
}
.ftrWrap footer .ftrBottom .ftrDropdown button i {
  margin-left: 10px;
}
.ftrWrap footer .ftrBottom .ftrDropdown ul {
  position: absolute;
  width: calc(100% - 20px);
  text-align: center;
  border: 1px solid #9c9c9c;
  border-radius: 3px;
  background-color: #1f1f1f;
  bottom: 25px;
}
.ftrWrap footer .ftrBottom .ftrDropdown ul li {
  padding: 3px 0;
  border-radius: 3px;
}
.ftrWrap footer .ftrBottom .ftrDropdown ul li:hover {
  background-color: #9c9c9c;
}
.ftrWrap footer .ftrBottom .ftrDropdown ul.langBox {
  display: none;
}
.ftrWrap footer .ftrBottom .ftrDropdown ul.famBox {
  display: none;
}
.ftrWrap footer .ftrBottom .ftrLogos {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  display: flex;
  text-align: center;
  margin-top: 20px;
}
.ftrWrap footer .ftrBottom .ftrLogos h2 {
  flex: 1;
}
.ftrWrap footer .ftrBottom .ftrLogos h2 img {
  height: 100%;
}
.ftrWrap footer .ftrBottom #copyright {
  margin-top: 20px;
}

.magazine {
  padding: 40px 0;
  overflow-x: hidden;
}
.magazine header {
  width: 100%;
  height: auto;
  padding: 0 10px;
}
.magazine section {
  width: 100%;
  height: auto;
  padding: 0 10px;
}
.magazine section .sideScroll {
  width: 300%;
  display: flex;
}
.magazine section .sideScroll article {
  width: 100%;
  margin-top: 20px;
  margin-right: 20px;
}
.magazine section .sideScroll article .image {
  width: 100%;
  height: 280px;
  padding: 0 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.magazine section .sideScroll article .texts {
  margin-top: 10px;
  text-align: center;
}
.magazine section .sideScroll #magazine1 .image {
  background-image: url("../img/magazine1.jpg");
}
.magazine section .sideScroll #magazine2 .image {
  background-image: url("../img/magazine2.jpg");
}
.magazine section .sideScroll #magazine3 .image {
  background-image: url("../img/magazine3.jpg");
}
.magazine section .sideScroll #magazine4 .image {
  background-image: url("../img/magazine4.jpg");
}

.bannerBrand {
  overflow-x: hidden;
  background-color: #28502E;
  padding: 80px 0;
}
.bannerBrand header {
  width: 100%;
  height: auto;
  padding: 0 10px;
}
.bannerBrand header h3 {
  line-height: 1;
  color: #f3f3f3;
}
.bannerBrand section {
  width: 100%;
  height: auto;
  padding: 0 10px;
  margin-top: 20px;
}
.bannerBrand section .bannerBrand_sideScroll {
  width: 760px;
  display: flex;
}
.bannerBrand section .bannerBrand_sideScroll :nth-of-type(2n) {
  margin-top: 60px;
}
.bannerBrand section .bannerBrand_sideScroll :nth-of-type(2n) .image {
  border-radius: 50%;
}
.bannerBrand section .bannerBrand_sideScroll article {
  width: 25%;
  display: flex;
  flex-direction: column;
  margin-right: 40px;
}
.bannerBrand section .bannerBrand_sideScroll article .image {
  width: 100%;
  height: 150px;
  background-color: #28502E;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.bannerBrand section .bannerBrand_sideScroll article .texts {
  margin-top: 10px;
  text-align: center;
}
.bannerBrand section .bannerBrand_sideScroll article .texts p {
  font-size: 16px;
  color: #f3f3f3;
}
.bannerBrand section .bannerBrand_sideScroll #bannerBrand1 .image {
  background-image: url("../img/bannerBrand_peer.png");
}
.bannerBrand section .bannerBrand_sideScroll #bannerBrand2 .image {
  background-image: url("../img/bannerBrand_hbyh.png");
}
.bannerBrand section .bannerBrand_sideScroll #bannerBrand3 .image {
  background-image: url("../img/bannerBrand_fourm.png");
}
.bannerBrand section .bannerBrand_sideScroll #bannerBrand4 .image {
  background-image: url("../img/bannerBrand_tg.png");
}

.bannerEvent {
  padding: 80px 0;
}
.bannerEvent header {
  width: 100%;
  height: 40px;
  padding: 0 10px;
}
.bannerEvent header h3 {
  line-height: 40px;
}
.bannerEvent section {
  width: 100%;
  height: auto;
  padding: 0;
  margin-top: 40px;
}
.bannerEvent section .carousel {
  width: 100%;
  display: flex;
}
.bannerEvent section .carousel #bannerEvent1 .image {
  background-image: url("../img/bannerEvent1.jpg");
}
.bannerEvent section .carousel #bannerEvent2 .image {
  background-image: url("../img/bannerEvent2.jpg");
}
.bannerEvent section .carousel #bannerEvent3 .image {
  background-image: url("../img/bannerEvent3.jpg");
}
.bannerEvent section .carousel article {
  width: 240px;
}
.bannerEvent section .carousel article .image {
  width: 100%;
  height: 340px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.bannerEvent section .carousel article .btn {
  margin-top: 10px;
  text-align: center;
  display: none;
}
.bannerEvent section .carousel article .btn button {
  width: 80%;
  height: 30px;
  padding: 0;
  border-radius: 10px;
  background-color: #47682C;
  color: #f3f3f3;
  font-size: 16px;
}
.bannerEvent section .carousel article:nth-of-type(1) {
  opacity: 0.5;
  z-index: -1;
}
.bannerEvent section .carousel article:nth-of-type(2) .btn {
  display: block;
}
.bannerEvent section .carousel article:nth-of-type(3) {
  opacity: 0.5;
  z-index: -1;
}
.bannerSns section .banner_scroll article .image {
  width: 100%;
  height: 240px;
  background-image: url("../img/bannerEvent1.jpg");
  border: 1px solid black;
}

.loginBanner {
  width: 100%;
  height: 100px;
  padding: 0;
  background: url("../img/login_banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.loginBanner .texts {
  width: 100%;
  height: auto;
  padding: 0 10px;
  color: #f3f3f3;
  padding-top: 40px;
  font-size: 20px;
}
.loginBanner .texts p {
  display: inline-block;
  line-height: 30px;
  text-shadow: 1px 1px 5px #313131;
}

.loginBox header {
  width: 100%;
  height: auto;
  padding: 0 10px;
  text-align: center;
  margin-top: 40px;
}
.loginBox section {
  width: 100%;
  height: auto;
  padding: 0 10px;
}
.loginBox section p.tooltip {
  padding-left: 10px;
}
.loginBox section form.login_form {
  margin-top: 5px;
}
.loginBox section form.login_form:nth-of-type(2) {
  margin-top: 10px;
}
.loginBox section form.login_form .login_form_id {
  width: 100%;
  height: 60px;
  padding: 0;
  background-color: #eaeaea;
  color: #535353;
  padding-left: 10px;
  border: 0;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}
.loginBox section form.login_form .login_form_pw {
  width: 100%;
  height: 60px;
  padding: 0;
  margin-top: 20px;
  background-color: #eaeaea;
  color: #535353;
  padding-left: 10px;
  border: 0;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}
.loginBox section form.login_form .login_form_check {
  width: 25px;
  height: 25px;
  padding: 0;
  margin-top: 15px;
}
.loginBox section form.login_form label {
  font-size: 16px;
  vertical-align: super;
  margin-right: 10px;
}
.loginBox section form.login_form .login_form_btn {
  width: 100%;
  height: 60px;
  padding: 0;
  background: #28502E;
  color: #f3f3f3;
  font-size: 20px;
  border: none;
  cursor: pointer;
}
.loginBox section ul.login_acc {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  padding: 0 10px;
  color: #9c9c9c;
}
.loginBox section ul.login_acc li:hover {
  color: #535353;
}
.loginBox section .login_quick {
  text-align: center;
  margin-top: 60px;
}
.loginBox section .login_quick p {
  width: 100%;
}
.loginBox section .login_quick .login_sns {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.loginBox section .login_quick .login_sns button {
  width: calc(50% - 5px);
  height: 60px;
  padding: 0 10px;
  font-weight: bold;
  letter-spacing: 2px;
  cursor: pointer;
}
.loginBox section .login_quick .login_sns #naver {
  background-color: #03c75a;
}
.loginBox section .login_quick .login_sns #kakao {
  background-color: #fae100;
}

.shopMain {
  width: 100%;
  height: 390px;
  padding: 0;
}
.shopMain img {
  width: 100%;
  height: 100%;
  padding: 0;
  object-fit: cover;
  object-position: center;
}

.shop_container {
  width: 100%;
  height: auto;
  padding: 0 10px;
  transform: translateY(-50px);
}
.shop_container .shopInfo {
  width: 100%;
  height: 300px;
  padding: 0 10px;
  max-width: 370px;
  margin: 0 auto;
  border-radius: 5px;
  background-color: rgba(222, 222, 222, 0.7);
}
.shop_container .shopInfo h3 {
  width: 100%;
  text-align: center;
  line-height: 60px;
  position: relative;
}
.shop_container .shopInfo h3::after {
  position: absolute;
  top: 50px;
  left: 50%;
  content: "";
  width: 90%;
  max-width: 300px;
  border: 1px solid black;
  transform: translateX(-50%);
}
.shop_container .shopInfo .texts #shop_type {
  line-height: 40px;
}
.shop_container .shopInfo .texts #shop_name {
  font-size: 24px;
}
.shop_container .shopInfo .texts .shop_contact {
  margin-top: 15px;
}
.shop_container .shopInfo .texts .shop_contact p {
  line-height: 20px;
}
.shop_container .shopInfo .texts .shop_contact #address {
  margin-top: 15px;
}
.shop_container .shopBtn {
  width: 100%;
  padding: 0 10px;
}
.shop_container .shopBtn button {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  background-color: #28502E;
  margin-top: 15px;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
}

.shopDropdown {
  width: 100%;
  max-width: 390px;
  height: 100vh;
  background-color: #28502E;
  padding-top: 80px;
}
.shopDropdown header h3 {
  text-align: center;
}

.events {
  width: 100%;
  height: auto;
  padding: 0 10px;
}
.events header {
  text-align: center;
  padding: 40px 0;
}
.events section article:nth-of-type(1) .img {
  background-image: url("../img/sub2/event_banner1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center -250px;
}
.events section article:nth-of-type(2) .img {
  background-image: url("../img/sub2/event_banner2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.events section article:nth-of-type(3) .img {
  background-image: url("../img/sub2/event_banner3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center -80px;
}
.events section article .img {
  width: 100%;
  height: 280px;
  padding: 0 10px;
}
.events section article .texts {
  padding: 20px 10px;
}

/*# sourceMappingURL=main.css.map */
