// Header Wrap + Menu + LangSel + Search + Login
.hdrWrap {
  width: 100%;
  background: $bg-color;
  border-bottom: 1px solid $main-color;
  header {
    @include box(60px);
    display: flex;
    justify-content: space-between;
    button {
      // flex: 1;
      width: 33.33%;
      text-align-last: left;
      i {
        cursor: pointer;
        font-size: 20px;
      }
    }
    h1 {
      // flex: 2;
      width: 33.33%;
      line-height: 60px;
      text-align: center;
      img {
        height: 40px;
        vertical-align: -5%;
        cursor: pointer;
      }
    }
    nav {
      // flex: 1;
      width: 33.33%;
      text-align: right;
      position: relative;
      i {
        margin-left: 15px;
        font-size: 20px;
        line-height: 60px;
        cursor: pointer;
      }
      ul.hdrLang {
        position: absolute;
        top: 61px; right: 10%;
        z-index: 10;
        background-color: $gray-lightest;
        border-radius: 0 0 5px 5px;
        box-shadow: 0 10px 20px rgba(0,0,0,0.3);
        li {
          // display: none;
          text-align-last: left;
          padding: 10px;
          a {
            font-size: 14px;
          }
          &:hover{
            background-color: $main-secondary;
            color: $text-light;
          }
        }
      }
    }
  }
}
// sideMenu
.sideMenu {
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 10;
  @include box(100%,80%, 0);
  background-color: $bg-color;
  // box-shadow: 40px 0 0 rgb(40, 80, 46, 0.9);
  transition: left 0.5s ease-out;
  header {
    @include box(auto);
    h2.logo {
      line-height: 40px;
      margin-top: 10px;
      img {
        height: 40px;
      }

      &::after {
        width: 100%;
        height: 2px;
        background-color: #000;
        content: "";
        display: block;
        margin: 0 auto;
      }
    }
    .bottom {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
      h3 {
        padding-left: 5px;
        line-height: 40px;
      }
      nav {
        line-height: 40px;
        font-size: 16px;
        i {
        }
        a {
          text-decoration: underline;
          margin-left: 3px;
        }
      }
    }
  }
  section {
    @include box(auto, 100%, 0 15px);
    ul {
      li.sideMenu_item {
        font-size: 20px;
        line-height: 20px;
        margin-top: 30px;
        margin-left: 0;
        font-weight: bold;
      }
      li {
        margin-top: 10px;
        margin-left: 20px;
        font-size: 16px;
      }
    }
  }
  .menuClose {
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px;
    i {
      font-size: 30px;
      color: $gray-darkest;
      cursor: pointer;
    }
  }
}

// Pagination
.pagination_main {
  margin-top: 20px;
  section {
    @include box(auto);
    ul {
      display: flex;
      justify-content: space-between;
      li {
        text-align: center;
        padding: 0 10px;
        a {
          i {
            font-size: 30px;
          }
          p {
            margin-top: 10px;
          }
        }
      }
    }
  }
}

// Footer
.ftrWrap {
  width: 100%;
  background: $gray-darker;
  color: #fff;
  padding-top: 80px;
  padding-bottom: 40px;
  footer {
    @include box(100%);
    .ftrTop {
      width: 100%;
      padding: 0 10px;
      ul.sub {
        &:nth-of-type(2n) {
          margin-top: 30px;
        }
        li {
          margin-top: 15px;
        }
      }
      display: flex;
      .ftrLeft {
        flex: 1;
      }
      .ftrRight {
        flex: 1;
        ul.sub {
          li {
            a {
              i {
                margin-right: 10px;
              }
            }
          }
        }
      }
    }
    .ftrBottom {
      width: 100%;
      padding: 0 10px;
      margin-top: 40px;
      display: flex;
      flex-wrap: wrap;
      ul.sub {
        width: 100%;
        li {
          margin-top: 15px;
        }
      }
      .ftrDropdown {
        flex: 1;
        padding: 0 10px;
        margin-top: 40px;
        position: relative;
        button {
          width: 100%;
          border: 1px solid $gray-lightest;
          border-radius: 3px;
          line-height: 20px;
          cursor: pointer;
          i {
            margin-left: 10px;
          }
        }
        ul {
          position: absolute;
          width: calc(100% - 20px);
          text-align: center;
          border: 1px solid $gray-light;
          border-radius: 3px;
          background-color: $gray-darkest;
          bottom: 25px;
          li {
            padding: 3px 0;
            border-radius: 3px;
            &:hover {
              background-color: $gray-light;
            }
          }
        }
        ul.langBox {
          display: none;
        }
        ul.famBox {
          display: none;
        }
      }
      .ftrLogos {
        @include box(40px);
        display: flex;
        text-align: center;
        margin-top: 20px;
        h2 {
          flex: 1;
          img {
            height: 100%;
          }
        }
      }
      #copyright {
        margin-top: 20px;
      }
    }
  }
}

// main Content gallery
.mainWrap {
  // background-image: url("../img/mainImg1.jpg");
  // background-color: $gray-lightest;
  // border: 1px solid red;
  main {
    @include box(auto);
    button {
      display: none !important;
    }
    #mainImg1 {
      .image {
        background-image: url("../img/mainImg1.jpg");
      }
    }
    #mainImg2 {
      .image {
        background-image: url("../img/mainImg2.jpg");
      }
    }
    #mainImg3 {
      .image {
        background-image: url("../img/mainImg3.jpg");
      }
    }
    .mainActive {
      display: block;
    }
    article {
      &:not(.slick-current){
        .image {
          transition-delay: 0;
        }
      }
      .image {
        transition: transform 0.3s linear;
        transition-delay: 0.5s;
        width: 100%;
        height: 320px;
        background-color: $main-color;
        border-radius: 10px;
        @include bgprops();
        box-shadow: 0px 30px 30px rgba(77, 77, 77, 0.8);
      }
      // .texts {
      //   margin: 0 10px;
      //   padding: 20px 10px;
      //   border-radius: 10px;
      //   transform: translateY(-80%);
      // }
    }
  }
  .mainSlideCount {
    padding: 0 10px;
    margin-top: 20px;
    text-align: right;
    // border: 1px solid red;
    .mainButton {
      i {font-size: 20px; margin-left: 10px; cursor: pointer;}
    }
  }
}

// Content 1 Magazine
.magazine {
  padding: 40px 0;
  overflow-x: hidden;
  header {
    @include box(auto);
  }
  section {
    @include box(auto);
    .sideScroll {
      width: $w100 * 3;
      display: flex;
      // border: 2px solid blue;
      button {
        display: none !important;
      }
      article {
        width: $w100;
        margin-top: 20px;
        margin-right: 20px;
        .image {
          @include box(280px, 100%);
          background-repeat: no-repeat;
          background-position: top;
          background-size: cover;
        }
        .texts {
          margin-top: 10px;
          text-align: center;
        }
      }
      #magazine1 {
        .image {
          background-image: url("../img/magazine1.jpg");
        }
      }
      #magazine2 {
        .image {
          background-image: url("../img/magazine2.jpg");
        }
      }
      #magazine3 {
        .image {
          background-image: url("../img/magazine3.jpg");
        }
      }
      #magazine4 {
        .image {
          background-image: url("../img/magazine4.jpg");
        }
      }
    }
  }
}

// Banner Brand
.bannerBrand {
  overflow-x: hidden;
  background-color: $main-color;
  padding: 80px 0;
  header {
    @include box(auto);
    h3 {
      line-height: 1;
      color: $text-light;
    }
  }
  section {
    @include box(auto);
    margin-top: 20px;
    .bannerBrand_sideScroll {
      width: calc(190px * 4);
      display: flex;
      button {
        display: none !important;
      }
      :nth-of-type(2n) {
        margin-top: 60px;
        .image {
          // border-radius: 50%;
        }
      }
      article {
        width: calc(100% / 4);
        display: flex;
        flex-direction: column;
        margin-right: 40px;
        .image {
          width: 100%;
          height: 215px;
          background-color: $main-color;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }
        .texts {
          margin-top: 10px;
          text-align: center;
          p {
            font-size: 16px;
            color: $text-light;
          }
        }
      }
      #bannerBrand1 {
        .image {
          background-image: url("../img/bannerBrand_peer.png");
        }
      }
      #bannerBrand2 {
        .image {
          background-image: url("../img/bannerBrand_hbyh.png");
        }
      }
      #bannerBrand3 {
        .image {
          background-image: url("../img/bannerBrand_fourm.png");
        }
      }
      #bannerBrand4 {
        .image {
          background-image: url("../img/bannerBrand_tg.png");
        }
      }
    }
  }
}

.bannerEvent {
  padding: 80px 0;
  header {
    @include box(40px);
    h3 {
      line-height: 40px;
    }
  }
  section {
    @include box(auto, 100%, 0);
    margin-top: 40px;
    // overflow-x: hidden;
    .carousel {
      // width: calc(240px * 2 + 100px);
      width: 100%;
      // border: 1px solid red;
      display: flex;
      // margin-left: 50%;
      // transform: translateX(-50%);
      #bannerEvent1 {
        .image {
          background-image: url("../img/bannerEvent1.jpg");
        }
      }
      #bannerEvent2 {
        .image {
          background-image: url("../img/bannerEvent2.jpg");
        }
      }
      #bannerEvent3 {
        .image {
          background-image: url("../img/bannerEvent3.jpg");
        }
      }
      article {
        width: 240px;
        .image {
          width: 100%;
          height: 340px;
          // border: 1px solid green;
          @include bgprops(contain);
        }
        .btn {
          margin-top: 10px;
          text-align: center;
          display: none;
          button {
            @include box(30px, 80%, 0);
            border-radius: 10px;
            background-color: $main-secondary;
            color: $text-light;
            font-size: 16px;
          }
        }
        &:nth-of-type(1) {
          opacity: 0.5;
          z-index: -1;
        }
        &:nth-of-type(2) {
          // margin-left: -70px;
          .btn {
            display: block;
          }
        }
        &:nth-of-type(3) {
          // margin-left: -70px;
          opacity: 0.5;
          z-index: -1;
        }
      }
      .active-carousel {
        // margin-top: 40px;
      }
    }
  }
}

.bannerSns {
  header {
    @include box(auto);
  }
  section {
    margin-top: 10px;
    .banner_scroll {
      button {
        display: none !important;
      }
      article {
        // width: 240px;
        width: 240px;
        .image {
          width: 240px;
          height: 240px;
          margin: 0 auto;
          border: 1px solid black;
          @include bgprops();
        }
      }
      #bannerSns1 {
        .image {
          background-image: url("../img/bannerSns1.jpg");
        }
      }
      #bannerSns2 {
        .image {
          background-image: url("../img/bannerSns2.jpg");
        }
      }
      #bannerSns3 {
        .image {
          background-image: url("../img/bannerSns3.jpg");
        }
      }
    }
  }
}
