// Header Wrap + Menu + LangSel + Search + Login
.hdrWrap {
  width: 100%;
  background: $bg-color;
  border-bottom: 1px solid $main-color;
  header {
    @include box(60px);
    display: flex;
    justify-content: space-between;
    button {
      // flex: 1;
      width: 33.33%;
      text-align-last: left;
      i {
        cursor: pointer;
        font-size: 20px;
      }
    }
    h1 {
      // flex: 2;
      width: 33.33%;
      line-height: 60px;
      text-align: center;
      img {
        height: 40px;
        vertical-align: -5%;
        cursor: pointer;
      }
    }
    nav {
      // flex: 1;
      width: 33.33%;
      text-align: right;
      i {
        margin-left: 15px;
        font-size: 20px;
        line-height: 60px;
        cursor: pointer;
      }
    }
  }
}
// sideMenu
.sideMenu {
  display: none;

  position: fixed;
  top: 0; left: 0;
  @include box(100%, 350px, 0);
  background-color: $main-color;
  box-shadow: 61px 0 0 rgba(0,0,0,0.5);
  header {
    @include box(auto);
    h2.logo {
      line-height: 40px;
      margin-top: 10px;
      img {
        height: 40px;
      }

      &::after{
        width: 100%;
        height: 2px;
        background-color: #000;
        content: '';
        display: block;
        margin: 0 auto;
      }
    }
    .bottom {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
      h3 {
        padding-left: 5px;
        line-height: 40px;
      }
      nav {
        line-height: 40px;
        font-size: 16px;
        i {}
        a {
          text-decoration: underline;
          margin-left: 3px;
        }
      }
    }
  }
  section {
    @include box(auto, 100%, 0 15px);
    ul {
      li.sideMenu_item {
        font-size: 20px;
        line-height: 20px;
        margin-top: 30px;
        margin-left: 0;
        font-weight: bold;
      }
      li {
        margin-top: 10px;
        margin-left: 20px;
        font-size: 16px;
      }
    }
  }
}

// Pagination
.pagination_main {
  margin-top: 20px;
  section {
    @include box(auto);
    ul {
      display: flex;
      justify-content: space-between;
      li {
        text-align: center;
        padding: 0 10px;
        a {
          i {
            font-size: 30px;
          }
          p {
            margin-top: 10px;
          }
        }
      }
    }
  }
}

// Footer
.ftrWrap {
  width: 100%;
  background: $gray-darker;
  color: #fff;
  padding-top: 80px;
  padding-bottom: 40px;
  footer {
    @include box(100%);
    .ftrTop {
      width: 100%;
      padding: 0 10px;
      ul.sub {
        &:nth-of-type(2n) {
          margin-top: 30px;
        }
        li {
          margin-top: 15px;
        }
      }
      display: flex;
      .ftrLeft {
        flex: 1;
      }
      .ftrRight {
        flex: 1;
        ul.sub {
          li {
            a {
              i {margin-right: 10px;}
            }
          }
        }
      }
    }
    .ftrBottom {
      width: 100%;
      padding: 0 10px;
      margin-top: 40px;
      display: flex;
      flex-wrap: wrap;
      ul.sub {
        width: 100%;
        li {
          margin-top: 15px;
        }
      }
      .ftrDropdown {
        flex: 1;
        padding: 0 10px;
        margin-top: 40px;
        position: relative;
        button {
          width: 100%;
          border: 1px solid $gray-lightest;
          border-radius: 3px;
          line-height: 20px;
          i {
            margin-left: 10px;
          }
        }
        ul {
          position: absolute;
          width: calc(100% - 20px);
          text-align: center;
          border: 1px solid $gray-light;
          border-radius: 3px;
          background-color: $gray-darkest;
          bottom: 25px;
          li {
            padding: 3px 0;
            border-radius: 3px;
            &:hover {
              background-color: $gray-light;
            }
          }
        }
        ul.langBox {
          display: none;
          }
        ul.famBox {
          display: none;
        }
      }
      .ftrLogos {
        @include box(40px);
        display: flex;
        text-align: center;
        margin-top: 20px;
        h2 {
          flex: 1;
          img {
            height: 100%;
          }
        }
      }
      #copyright {
        margin-top: 20px;
      }
    }
  }
}

// Content 1 Magazine
.magazine {
  padding: 40px 0;
  overflow-x: hidden;
  header {
    @include box(auto);
  }
  section {
    @include box(auto);
    .sideScroll {
      width: $w100 * 3;
      display: flex;
      // border: 2px solid blue;

      article {
        width: $w100;
        margin-top: 20px;
        margin-right: 20px;
        .image {
          @include box(280px, 100%);
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
        }
        .texts {
          margin-top: 10px;
          text-align: center;
        }
      }
      #magazine1 {
        .image {
          background-image: url("../img/magazine1.jpg");
        }
      }
      #magazine2 {
        .image {
          background-image: url("../img/magazine2.jpg");
        }
      }
      #magazine3 {
        .image {
          background-image: url("../img/magazine3.jpg");
        }
      }
      #magazine4 {
        .image {
          background-image: url("../img/magazine4.jpg");
        }
      }
    }
  }
}

// Banner Brand
.bannerBrand {
  overflow-x: hidden;
  background-color: $main-color;
  padding: 80px 0;
  header {
    @include box(auto);
    h3 {
      line-height: 1;
      color: $text-light;
    }
  }
  section {
    @include box(auto);
    margin-top: 20px;
    .bannerBrand_sideScroll {
      width: calc(190px * 4);
      display: flex;
      :nth-of-type(2n) {
        margin-top: 60px;
        .image {
          border-radius: 50%;
        }
      }
      article {
        width: calc(100% / 4);
        display: flex;
        flex-direction: column;
        margin-right: 40px;
        .image {
          width: 100%;
          height: 150px;
          background-color: $main-color;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }
        .texts {
          margin-top: 10px;
          text-align: center;
          p {
            font-size: 16px;
            color: $text-light;
          }
        }
      }
      #bannerBrand1 {
        .image {
          background-image: url("../img/bannerBrand_peer.png");
        }
      }
      #bannerBrand2 {
        .image {
          background-image: url("../img/bannerBrand_hbyh.png");
        }
      }
      #bannerBrand3 {
        .image {
          background-image: url("../img/bannerBrand_fourm.png");
        }
      }
      #bannerBrand4 {
        .image {
          background-image: url("../img/bannerBrand_tg.png");
        }
      }
    }
  }
}

.bannerEvent {
  padding: 80px 0;
  header {
    @include box(40px);
    h3 {
      line-height: 40px;
    }
  }
  section {
    @include box(auto, 100%, 0);
    margin-top: 40px;
    overflow-x: hidden;
    .carousel {
      width: calc(240px * 2 + 100px);
      border: 1px solid red;
      display: flex;
      margin-left: 50%;
      transform: translateX(-50%);
      #bannerEvent1 {
        .image {background-image: url('../img/bannerEvent1.jpg');}
      }
      #bannerEvent2 {
        .image {background-image: url('../img/bannerEvent2.jpg');}
      }
      #bannerEvent3 {
        .image {background-image: url('../img/bannerEvent3.jpg');}
      }
      article {
        width: 240px;
        .image {
          width: 100%; height: 340px;
          border: 1px solid green;
          @include bgprops();
        }
        .btn {
          margin-top: 10px;
          text-align: center;
          display: none;
          button {
            @include box (30px, 80%, 0);
            border-radius: 10px;
            background-color: $main-secondary;
            color: $text-light;
            font-size: 16px;
          }
        }
        &:nth-of-type(2){
          margin-left: -70px;
          .btn {
            display: block;
          }
        }
        &:nth-of-type(3){
          margin-left: -70px;
        }
      }
      .active-carousel {
        margin-top: 40px;
  
      }
    }


  }
}
