// import font face, google font
@charset "UTF-8";
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pretendard-Regular", "Noto Sans KR", sans-serif;
}
html {
  max-width: 412px;
  height: 100%;
}
body {
  height: fit-content;
  min-width: 360px;
  background-color: $bg-color;
  border: 1px solid red;
  font-size: 14px;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  background: none;
  border: initial;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  font-weight: 700;
}

h1 {
  font-size: 48px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 20px;
}
