.shopMain {
  @include box(390px, 100%, 0);
  img {
    @include box(100%, 100%, 0);
    object-fit: cover;
    object-position: center;
  }
}

.shop_container {
  @include box(auto);
  transform: translateY(-50px);
  .shopInfo {
    @include box(300px, 100%);
    max-width: 370px;
    margin: 0 auto;
    border-radius: 5px;

    background-color: rgba(222, 222, 222, 0.7);
    h3 {
      width: 100%;
      text-align: center;
      line-height: 60px;
      position: relative;

      &::after {
        position: absolute;
        top: 50px;
        left: 50%;
        content: "";
        width: 90%;
        max-width: 300px;
        border: 1px solid black;
        transform: translateX(-50%);
      }
    }
    .texts {
      #shop_type {
        line-height: 40px;
      }
      #shop_name {
        font-size: 24px;
      }
      .shop_contact {
        margin-top: 15px;
        p {
          line-height: 20px;
        }
        #address {
          margin-top: 15px;
        }
      }
    }
  }

  .shopBtn {
    width: 100%;
    padding: 0 10px;
    button {
      @include box(40px);
      background-color: $main-color;
      margin-top: 15px;
      border-radius: 5px;
      cursor: pointer;
      color: #fff;
      font-size: 16px;
    }
  }
}
